<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<div class="container d-flex flex-column align-items-center">
    <h1 class="text-center my-5">New Create </h1>
    <form th:action="@{/facility/create}" th:object="${facility}" method="post">
        <div>
            <label class="form-label">nameFacility</label>
            <input class="form-control" type="text" th:field="*{nameFacility}">
        </div>
        <div>
            <label class="form-label">area</label>
            <input class="form-control" type="text" th:field="*{area}">
        </div>
        <div>
            <label class="form-label">cost</label>
            <input class="form-control" type="text" th:field="*{cost}">
        </div>
        <div>
            <label class="form-label">maxPeople</label>
            <input class="form-control" type="text" th:field="*{maxPeople}">
        </div>
        <div>
            <label class="form-label h6">fTypeName:</label>
            <select class="form-select" th:field="*{facilityType}">
                <option th:each="item : ${facilityTypeList}" th:value="${item.id}"
                        th:text="${item.nameFacilityType}"></option>
            </select>
        </div>
        <div>
            <label class="form-label h6"> rTypeName</label>
            <select th:field="*{rentType}">
                <option th:each="ren : ${rentTypeList}" th:value="${ren.id}" th:text="${ren.nameRentType}"></option>
            </select>
        </div>
        <div>
            <label class="form-label">facilityFree</label>
            <input class="form-control" type="text" th:field="*{facilityFree}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-primary" href="/">Back</a>

    </form>

</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>