<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div>
                <a class="btn btn-primary" th:href="@{facility/create}">Create</a>

            </div>
            <form class="d-flex" th:action="@{/facility}">
                <input class="form-control me-2" name="name" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container-fluid">
        <table class="table table-hover text-center">
            <thead>

            <tr>
                <th>id</th>
                <th>name</th>
                <th>area</th>
                <th>cost</th>
                <th>maxPeople</th>
                <th>sRoom</th>
                <th>poolA</th>
                <th>oAmenities</th>
                <th>nFloOrs</th>
                <th>stanrdRoom</th>
                <th>rTypeName</th>
                <th>fTypeName</th>
                <th>facilityFree</th>
                <th>delete</th>
                <th>edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each=" item,loop : ${facility}">
                <td th:text="${loop.count}"></td>
                <td th:text="${item.nameFacility}"></td>
                <td th:text="${item.area}"></td>
                <td th:text="${item.cost}"></td>
                <td th:text="${item.maxPeople}"></td>
                <td th:text="${item.sRoom}"></td>
                <td th:text="${item.poolA}"></td>
                <td th:text="${item.oAmenities}"></td>
                <td th:text="${item.nFloOrs}"></td>
                <td th:text="${item.facilityType.nameFacilityType}"></td>

                <td th:text="${item.rentType.nameRentType}"></td>

                <td th:text="${item.facilityFree}"></td>
                <td hidden th:text=" ${item.status}"></td>
                <td>
                    <!--                     Button trigger modal-->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            th:data-bs-target="'#staticBackdrop' + ${item.id}">
                        Delete
                    </button>

                    <div class="modal fade" th:id="staticBackdrop + ${item.id}" data-bs-backdrop="static"
                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-danger" id="staticBackdropLabel">FBI warning!!</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Do you want delete <span class="text-info" th:text="${item.nameFacility}"></span>
                                    with id =
                                    <span class="text-info" th:text="${item.id}"></span> ?
                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{facility/delete/{id}(id=${item.id})}"
                                       class="btn btn-outline-primary">delete</a>
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <a th:href="@{/facility/edit/{id}(id=${item.id})}" class="btn btn-outline-warning">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <!--    modal phân trang-->
    <div class="container mt-3">
        <ul class="pagination float-end" th:if="${facility.totalPages > 0}">
            <li class="page-item" th:if="${facility.hasPrevious()}">
                <a class="page-link" th:href="@{/facility(page=${facility.number - 1}, name = ${name})}">Previous</a>
            </li>
            <div th:each="item, loop : ${#numbers.sequence(1, facility.totalPages )}">
                <div th:if="${facility.number + 1 == item}">
                    <li class="page-item active"><a class="page-link"
                                                    th:href="@{/facility(page=${item - 1}, name = ${name})}"
                                                    th:text="${item}"></a></li>
                </div>
                <div th:unless="${facility.number + 1 == item}">
                    <li class="page-item"><a class="page-link"
                                             th:href="@{/facility(page=${item - 1}, name = ${name})}"
                                             th:text="${item}"></a></li>
                </div>
            </div>
            <li class="page-item" th:if="${facility.hasNext()}">
                <a class="page-link"
                   th:href="@{/facility(page=${facility.number + 1}, name = ${name})}">Next</a>
            </li>
        </ul>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</html>