# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\C0322g1-tranvanhoan-module4\ss4_views_and_thymeleaf\thuc_hanh\text\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
