<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="row gx-4 gx-lg-5 justify-content-center mb-5">
    <div class="col-lg-6">
        <form id="contactForm" method="post" action="/edit" th:object="${customer}">
            <!-- name input-->
            <div class="form-floating mb-3">
                <input hidden class="form-control" id="id" type="text" placeholder="Enter your name..."
                       th:field="*{id}">
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="name" type="text" placeholder="Enter your name..."
                       th:field="*{name}">
                <label for="name">name</label>
            </div>
            <!-- area input-->
            <div class="form-floating mb-3">
                <input class="form-control" id="address" type="text" placeholder="Enter your address..."
                       th:field="*{address}"/>
                <label for="address">address</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="birthday" type="text" placeholder="Enter your birthday..."
                       th:field="*{birthday}"/>
                <label for="birthday">birthday</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="email" type="email" placeholder="Enter your email..."
                       th:field="*{email}"/>
                <label for="email">email</label>
            </div>
            <div class="form-floating mb-3">
                <select th:field="*{gender}">
                    <option th:value="1">nam</option>
                    <option th:value="2">nữ</option>
                    <option th:value="3">lgst</option>
                </select>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="idCard" type="text" placeholder="Enter your idCard..."
                       th:field="*{idCard}"/>
                <label for="idCard">idCard</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="phoneNumber" type="text" placeholder="Enter your phoneNumber..."
                       th:field="*{phoneNumber}"/>
                <label for="idCard">phoneNumber</label>
            </div>
            <div>
                <select class="form-select" aria-label="mời các cụ chọn" style="padding-top: 0.625rem;"
                        th:field="*{customerTypes}">
                    <option value="">choose customer type</option>
                    <option th:each="item,loop:${customerTypeList}" th:text="${item.nameType}"
                            th:value="${item.id}" th:id="${item.nameType}"></option>
                </select>

            </div>
            <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Submit</button>
            <a class="btn btn-primary" th:href="@{/customer}">Back</a>
        </form>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</html>