<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="btn btn-primary" th:href="@{/customer/create}">new Create</a>
            <form class="d-flex" th:action="@{/customer}">
                <input class="form-control me-2" name="name"  type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container-fluid">
        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>address</th>
                <th>birthday</th>
                <th>email</th>
                <th>gender</th>
                <th>idCard</th>
                <th>phoneNumber</th>
                <th>Customer Type</th>
                <th>delete</th>
                <th>edit</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each=" item,loop : ${customers}">
                <td th:text="${loop.count}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.address}"></td>
                <td th:text="${item.birthday}"></td>
                <td th:text="${item.email}"></td>
                <div th:switch=" ${item.gender}">
                    <td th:case="0">Nữ</td>
                    <td th:case="1">nam</td>
                    <td th:case="2">tai</td>
                </div>
                <td th:text="${item.idCard}"></td>
                <td th:text=" ${item.phoneNumber}"></td>
                <td th:text=" ${item.customerTypes.getNameType()}"></td>
                <td hidden th:text=" ${item.status}"></td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            th:data-bs-target="'#staticBackdrop' + ${item.id}">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="staticBackdrop + ${item.id}" data-bs-backdrop="static"
                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-danger" id="staticBackdropLabel">FBI warning!!</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Do you want delete <span class="text-info" th:text="${item.name}"></span> with id =
                                    <span class="text-info" th:text="${item.id}"></span> ?
                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{/delete/{id}(id=${item.id})}"
                                       class="btn btn-outline-primary">delete</a>
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <a th:href="@{/edit/{id}(id=${item.id})}" class="btn btn-outline-warning">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="container mt-3">
        <ul class="pagination float-end" th:if="${customers.totalPages > 0}">
            <li class="page-item" th:if="${customers.hasPrevious()}">
                <a class="page-link" th:href="@{/customer(page=${customers.number - 1}, search = ${searchName})}">Previous</a>
            </li>
            <div th:each="item, loop : ${#numbers.sequence(1, customers.totalPages )}">
                <div th:if="${customers.number + 1 == item}">
                    <li class="page-item active"><a class="page-link"
                                                    th:href="@{/customer(page=${item - 1}, search = ${searchName})}"
                                                    th:text="${item}"></a></li>
                </div>
                <div th:unless="${customers.number + 1 == item}">
                    <li class="page-item"><a class="page-link"
                                             th:href="@{/customer(page=${item - 1}, search = ${searchName})}"
                                             th:text="${item}"></a></li>
                </div>
            </div>
            <li class="page-item" th:if="${customers.hasNext()}">
                <a class="page-link"
                   th:href="@{/customer(page=${customers.number + 1}, search = ${searchName})}">Next</a>
            </li>
        </ul>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</html>